$white: rgb(255, 255, 255);
$black: #222831;
$light-black: #31363F;
$gray: #ECF2FF;
$red: #E74646;
$blue: #00a6fb;
$spline: 'Satoshi', sans-serif;

// blacks
$black-1: #404258;
$black-2: #474E68;
$black-3: #50577A;
$black-4: #6B728E;