$white: rgb(255, 255, 255);
$black: #222831;
$light-black: #31363f;
$gray: #ecf2ff;
$red: #e74646;
$blue: #00a6fb;
$spline: 'Satoshi', sans-serif;

// blacks
$black-1: #404258;
$black-2: #474e68;
$black-3: #50577a;
$black-4: #6b728e;
